.services-bg {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.6)) , url(../../images/help.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px !important;
}


